/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.env
/.byebug_history
/.ruby-version
/spec/fixtures/files/
/spec/fixtures/tmp/

# rspec failure tracking
.rspec_status
